@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--dark-bg-color);
  padding: 0 40px;
  color: var(--text-color);
  transition: background-color 0.4s;
}

/* Header component */
.header {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* Form component */
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.form input,
.form select {
  background-color: var(--article-color);
  padding: 12px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  color: var(--text-color);
}

.form input::placeholder {
  color: var(--text-color);
}

/* Countries component */
.countries article {
  transition: background-color 0.4s;
}

.countries .flag img {
  border-radius: 5px 5px 0 0;
}

.countries .details {
  border-radius: 0 0 5px 5px;
  background-color: var(--article-color);
  margin: -10px 0 30px;
  padding: 20px;
  color: var(--text-color);
}

.countries .details h4 {
  margin: 10px 0;
}

.countries .details h4 span {
  font-weight: 300;
}

/* Media queries */
@media (min-width: 640px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .countries .details {
    margin: -10px 0 0;
  }
}

@media (min-width: 992px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1366px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1440px) {
  .countries {
    grid-template-columns: repeat(5, 1fr);
  }
}
